body {
  font-family: "Courier New", monospace;
  padding-left: 15px;
}

img {
  width: 80%;
  height: 500px;
  display: block;
  object-fit: contain;
}

.button {
  font-family: "Courier New", monospace;
  border: 0px;
  background: #555555;
  color: white
}

.button.big{
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  padding: 5px;
}

.button.small{
  font-size: 10px;
  border-radius: 4px;
  font-weight: 100;
  padding: 5px;
}

.column {
  float: left;
  width: 50%;
}

#top {
  font-size: 60px;
  text-align: center;
  color: lightgreen;
  display: inline;
  background-color: white;
  padding: 1px;
}
