<!doctype html>
<head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

  <title> SRGAN Image Rescaler </title>
  <link rel="stylesheet" href="static/css/style.css">

  <style>
    #m1 { background: {{srGAN}}; }
    #m2 { background: {{esrGAN_DB}}; }
    #m3 { background: {{esrGAN_RRDB}}; }
    #m4 { background: {{esrGAN_RRDB_v2}}; }
    #m5 { background: {{lightSR}}; }
    #me { background: {{exact_pred_disable}}; }
  </style>
</head>

<h1 id="top">SRGAN Image Rescaler</h1>
<h4>Rescale images by 4x the resolution using AI</h4>

  {% if model_name %}
    <h2>Load a Resizer Model (Using {{ model_name }})</h2>
  {% else %}
    <h2>Load a Resizer Model</h2>
  {% endif %}
  <form method=post text-align=center enctype=multipart/form-data>
    <input class="button big" id=m1 type=submit name=srgan_button value=srGAN>
    <input class="button big" id=m2 type=submit name=srgan_button value=esrGAN_DB>
    <input class="button big" id=m3 type=submit name=srgan_button value=esrGAN_RRDB>
    <input class="button big" id=m4 type=submit name=srgan_button value=esrGAN_RRDB_v2>
    <input class="button big" id=m5 type=submit name=srgan_button value=lightSR> <br> <br>

    {% if model_name == "srGAN" %}
      <input class="button small" font-size=5px id=me type=submit name=exact_pred value="Disable Reduced Image Chunking? (not recommended)">
    {% endif %}
  </form>

<div class=column>
  <h2>Input Image</h2>
  <form method=post enctype=multipart/form-data>
    <input id=inputButton type=file onchange="this.form.submit()" name=file> <br> <br>
  </form>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {%for message in messages %}
        <h2> {{ message }} </h2> <br>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if filename %}
    <img src="{{ filename }} "> <br>
    <form method=post enctype=multipart/form-data>
      <input class="button big" type=submit name=rescale_button value=Rescale!> <br> <br>
    </form>
  {% endif %}
</div>

<div class=column>
{% if srimg %}
  <h2>Rescaled Image (Rescaled using {{mmn}})</h2> <br> <br>
  <img src="{{srimg}}"> <br>
{% endif %}
</div>
