<!doctype html>
<head>
  <title> SRGAN Image Rescaler </title>
  <link rel="stylesheet" href="static/css/style.css">

  <style>
    #m1 {
      background: {{srGAN}};
    }
    #m2 {
      background: {{esrGAN_DB}};
    }
    #m3 {
      background: {{esrGAN_RRDB}};
    }
    #m4 {
      background: {{esrGAN_RRDB_v2}};
    }
  </style>
</head>

<h1 id="top">SRGAN Image Rescaler</h1>
<h3>Rescale images by 4x the resolution using AI</h3> <br>

  {% if model_name %}
    <h2>Load a Resizer Model (Using {{ model_name }})</h2>
  {% else %}
    <h2>Load a Resizer Model</h2>
  {% endif %}
  <form method=post text-align=center enctype=multipart/form-data>
    <input class=button id=m1 type=submit name=srgan_button value=srGAN>
    <input class=button id=m2 type=submit name=srgan_button value=esrGAN_DB>
    <input class=button id=m3 type=submit name=srgan_button value=esrGAN_RRDB>
    <input class=button id=m4 type=submit name=srgan_button value=esrGAN_RRDB_v2> <br>
  </form>

<div class=column>
  <h2>Input Image</h2>
  <form method=post enctype=multipart/form-data>
    <input id=inputButton type=file onchange="this.form.submit()" name=file> <br> <br>
  </form>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {%for message in messages %}
        <h2> {{ message }} </h2> <br>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if filename %}
    <img src="{{ filename }} " height="500" class="center"> <br>
    <form method=post enctype=multipart/form-data>
      <input class=button type=submit name=rescale_button value=Rescale!> <br> <br>
    </form>
  {% endif %}
</div>

<div class=column>
{% if srimg %}
  <h2>Rescaled Image (Rescaled using {{mmn}})</h2> <br> <br>
  <img src="{{srimg}}" height="500", class="center"> <br>
{% endif %}
</div>
